#services {
  width: 100%;
  min-height: calc(100vh + 3rem);
  height: 100%;
  display: flex;

  .filter-container {
    width: 35%;
  }

  .list-cards {
    max-width: 95rem;
  }
  mat-card {
    padding: 0;
    width: fit-content;
    min-width: 20rem;
    max-width: 24rem !important;
    height: fit-content;
    max-height: 14rem;
    border-radius: 0.35rem;
    border-left: 5px solid #0085c3;
    margin: 0 0.5rem 0.8rem 00;

    mat-card-header {
      border-top-right-radius: 0.35rem;
      background: linear-gradient(to bottom, #ba2737 20%, #b41324 90%);
      mat-card-title {
        margin: 0;
        padding: 0.7rem 0 0.4rem 2rem;
      }
    }

    mat-card-content {
      margin: 0;
      padding: 0.2rem 0 0 1rem;
      border-bottom-right-radius: 0.35rem;
      background: linear-gradient(to bottom, #ba2737 25%, #f18e99 75%);

      .list-service {
        margin: 0 0 0.2rem 0.5rem;
        padding: 0;
        list-style-type: none;
      }

      .mpn {
        padding: 0 0.5rem;
        right: 2rem;
        position: relative;
        border: 2px solid white;
      }
    }
  }

  .fix-width {
    width: 100%;
  }
  .is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }

  mat-grid-list {
    position: inherit;
  }
  mat-grid-tile {
    background: lightblue;
  }
}