<div id="services" fxLayout="column" fxLayoutAlign="start center">
  <h4>Servicios a moviles</h4>
  <div class="filter-container" fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-form-field>
      <mat-label>Seleccione una marca</mat-label>
      <mat-select [(value)]="selectedBrand" (selectionChange)="autocompleteSearch('')">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let brand of brands" [value]="brand.brand" >{{brand.brand}}</mat-option>
      </mat-select>
    </mat-form-field>   
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Buscar por Modelo" [formControl]="controlName" [matAutocomplete]="autoName" 
          aria-label="modelo">
        <mat-autocomplete autoActiveFirstOption #autoName="matAutocomplete" (optionSelected)="autocompleteSearch($event.option.value)">
          <mat-option *ngFor="let data of filteredNameSearch | async orderBy: 'name'" [value]="data.name">
            {{data.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="fix-width" fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-paginator [length]="totalDocs" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getArticles($event)">
    </mat-paginator>
    length: {{totalDocs}} - limit: {{limit}} - totalPages: {{totalPages}} - totalDocs:{{totalDocs}} - pageSize: {{pageSize}} - pageSizeOptions: {{pageSizeOptions}}
  </div>
  <div fxLayout="row wrap" fxflexfill fxLayoutGap="grid" class="list-cards">
    <mat-card fxflex="25" *ngFor="let celu of dataSearch">
      <mat-card-header>
        <mat-card-title>
          <span>{{celu.brand}}</span>
          &nbsp; &nbsp; - &nbsp; &nbsp;
          <span>{{celu.name}}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-between start">
        <div>
          <ul class="list-service" *ngFor="let service of celu.services">
            <li *ngIf="service.value">
              <span>
                {{service.name}}: {{service.value}}
              </span>
            </li>
          </ul>
        </div>
        <div class="mpn"> 
          <span>{{celu.mpn}}</span>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions> -->
    </mat-card>
  </div>
  <!-- <mat-grid-list cols="1" gutterSize="1rem" rowHeight="4:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list> -->
</div>
