<div id="services" fxLayout="column" fxLayoutAlign="start center">
  <h4>Servicios a moviles</h4>
  <div class="filter-container" fxLayout="row" fxLayoutAlign="space-evenly center">

    <!-- Brand Select -->
    <mat-form-field>
      <mat-label>Seleccione una marca</mat-label>
      <mat-select [(value)]="selectedBrand" (selectionChange)="getBrands()">
        <mat-option *ngFor="let brand of brands" [value]="brand.brand" >{{brand.brand}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Autocomplete Search -->
    <form class="example-form" [formGroup]="autocompleteSearchForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Buscar por Modelo" formControlName="searchInput" [matAutocomplete]="auto" 
          aria-label="modelo">
      </mat-form-field>
      
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-spinner diameter="40" mode="indeterminate"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let data of filteredNameSearch" [value]="data.name">
            <span>{{ data.name }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </form>
  </div>
  

  <!-- Paginator -->
  <div class="fix-width" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="fix-width" fxLayout="row" fxLayoutAlign="end center">
      <mat-paginator [length]="totalDocs" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getArticles($event)">
      </mat-paginator>
    </div>
  </div>


  <!-- Result Grid -->
  <!--https://stackblitz.com/edit/card-responsive?file=app%2Fcard-overview-example.html 
    https://stackoverflow.com/questions/49127304/angular-flex-layout-grid-system 
  https://github.com/angular/flex-layout/blob/master/docs/documentation/Responsive-API.md
https://tburleson-layouts-demos.firebaseapp.com/#/responsive-->
  <div fxLayout="row wrap" fxLayout.xs="column" 
      fxLayoutAlign="start start" fxLayoutGap="1rem" class="list-cards">
    <mat-card *ngFor="let celu of filteredNameSearch" 
      fxFlex="calc(33%-25px)" fxFlex.xs="100%" fxFlex.sm="calc(50%-25px)"fxFlex.md="50%" >
      <mat-card-header>
        <mat-card-title>
          <span>{{celu.brand}}</span>
          &nbsp; &nbsp; - &nbsp; &nbsp;
          <span>{{celu.name}}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-between start">
        <div>
          <ul class="list-service" *ngFor="let service of celu.services">
            <li *ngIf="service.value">
              <span>
                {{service.name}}: {{service.value}}
              </span>
            </li>
          </ul>
        </div>
        <div class="mpn"> 
          <span>{{celu.mpn}}</span>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions> -->
    </mat-card>
  </div>
  <!-- <mat-grid-list cols="1" gutterSize="1rem" rowHeight="4:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list> -->
</div>
