<div id="services" fxLayout="column" fxLayoutAlign="start start">
  <h4>Servicios a moviles</h4>
  <button (click)="search()"> search</button>
  {{asd | json}}
  <div fxLayout="row" fxLayoutAlign="space-around start" >
    <mat-form-field>
      <mat-label>Seleccione una marca</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>You selected: {{selected}}</p>
    
    <form class="example-form">
      <input type="text"
             placeholder="Buscar por Modelo"
             [formControl]="control"
             [matAutocomplete]="automodelo">
      <mat-autocomplete #automodelo="matAutocomplete">
        <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
          {{street}}
        </mat-option>
      </mat-autocomplete>
    </form>
    <form class="example-form">
      <input type="text"
             placeholder="Buscar por MPN"
             [formControl]="control"
             [matAutocomplete]="autompn">
      <mat-autocomplete #autompn="matAutocomplete">
        <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
          {{street}}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
  <div fxLayout="row wrap" fxflexfill fxLayoutGap="20px grid" class="cards"> 
      <mat-card fxflex="25" *ngFor="let celu of asd">
        <mat-card-header>
          <mat-card-title>{{celu.brand}} - {{celu.name}}</mat-card-title>
          <mat-card-subtitle>{{celu.mpn}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{celu.services}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <!-- <mat-icon>favorite</mat-icon> -->
          </button>
        </mat-card-actions>
      </mat-card>
  </div>
  <!-- <mat-grid-list cols="1" gutterSize="1rem" rowHeight="4:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list> -->
</div>
