#welcome {
    width: 100%;
    min-height: calc(100vh - 3rem); // fixea los 3 rem que se encajan en el host
    height: 100%;
    display: flex;
    position: relative;
    // flex-direction: column;
    // box-sizing: border-box;
    // display: flex;
    // place-content: center;
    // align-items: center;
    mat-card {
        width: 25rem;
        height: 15rem;
    }
}
