<div id="menu" *ngIf="usuarioLogueado">
	<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" >
		<button mat-button color="primary">
			<a routerLink="/"><span>{{ title }}</span></a>
		</button>
		<div class="fix-width" fxLayout="row" fxLayoutAlign="space-around center">
			<button mat-button color="primary">
				<a routerLink="/services">Servicios</a> <!-- buscador de servicios-->
			</button>
		</div>
		<div class="fix-width" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="usuarioLogueado.permissions[0] == 'admin'">
			<button mat-button color="primary">
				<a routerLink="/settings">Settings</a> <!-- Settings-->
			</button>
		</div>
		<button mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">Perfil</button>
	</mat-toolbar>
	<mat-menu #menu="matMenu">
		<div (mouseleave)="menuTrigger.closeMenu()">
			<button mat-menu-item (click)="navigateMenu('users')" *ngIf="usuarioLogueado.permissions[0] == 'admin'">
				Usuarios
			</button>
			<button mat-menu-item (click)="navigateMenu('info')">
				Info
			</button>
			<button mat-menu-item (click)="navigateMenu('password')">
				New Password
			</button>
			<button mat-menu-item (click)="logout()">
				Logout
			</button>
		</div>
	</mat-menu>
</div>
<!-- <button (click)="cosa()">cosaa</button> -->