<div id="menu" *ngIf="usuarioLogueado">
	<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" >
		<button mat-button color="primary">
			<a routerLink="/"><span>{{ title }}</span></a>
		</button>
		<button mat-button color="primary">
			<a routerLink="/password">Servicios</a> <!-- buscador de servicios-->
		</button>
		<button mat-button color="primary">
			<a routerLink="/info">Info</a>
		</button>
		<button mat-button color="primary">
			<a routerLink="/password">Password</a>
		</button>
		<button mat-button color="primary">
			<a routerLink="/users">Usuarios</a> <!-- Solo acceso a los admins-->
		</button>
		<button mat-button color="black">
			<span>Perfil </span> <!--menu desplegable  debe agrupar "info y password"-->
		</button>
		<button mat-button>
			<a routerLink="" (click)="logout()">Logout</a>
		</button>
	</mat-toolbar>

</div>
<!-- <button (click)="cosa()">cosaa</button> -->