 <div id="login-auth" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" #formDir="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label for="user">Usuario</mat-label>
                    <input matInput class="form-control" id="user" formControlName="user" minlength="3" maxlength="64" required>
                    <div *ngIf="user.invalid && (user.dirty || user.touched)" class="alert alert-danger">
                        <div *ngIf="user.errors.required">
                            Usuario es requerido.
                        </div>
                        <div *ngIf="user.errors.minlength">
                            Al menos 3 caracteres se necesitan para el usuario.
                        </div>
                        <div *ngIf="user.errors.maxlength">
                            Máximo de 64 caracteres se necesitan para el usuario.
                        </div>
                    </div>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label for="password">Contraseña</mat-label>
                    <input matInput class="form-control" id="password" formControlName="password" minlength="6" maxlength="64"
                        matInput [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                            Contraseña es requerida.
                        </div>
                        <div *ngIf="password.errors.minlength">
                            Al menos 6 caracteres se necesitan para la contraseña.
                        </div>
                        <div *ngIf="password.errors.maxlength">
                            Máximo de 64 caracteres se necesitan para la contraseña.
                        </div>
                    </div>
                </mat-form-field>
                <button mat-stroked-button color="accent" class="btn-block" type="submit" (click)="submitForm()" [disabled]="loginForm.invalid">
                    Log in
                </button>
                <button mat-stroked-button color="accent" class="btn-block" routerLink="/">
                    Cancelar
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>