<div id="app">
    <app-menu></app-menu> <!-- Toolbar -->
    <router-outlet></router-outlet> <!-- la vista que renderiza cuando se rutea-->
    <footer fxLayout="column" fxLayoutAlign="start center" *ngIf="false">
        Footer
        https://github.com/SinghDigamber/angular-material-login-template
        https://github.com/angular/flex-layout/wiki/API-Documentation
        https://tburleson-layouts-demos.firebaseapp.com/#/docs
    </footer>
</div>
<!-- https://github.com/SinghDigamber/angular-material-login-template -->