<div fxLayout="column" fxLayoutAlign="space-between none">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="app-header">
        <span>{{ title }}</span>
        <app-menu></app-menu> <!-- pasarlo a horizontal-->
    </mat-toolbar>
    <router-outlet></router-outlet> <!-- la vista que renderiza cuando se rutea-->
    <footer>
        Footer
        https://github.com/SinghDigamber/angular-material-login-template
        https://github.com/angular/flex-layout/wiki/API-Documentation
        https://tburleson-layouts-demos.firebaseapp.com/#/docs
    </footer>
</div>
<!-- https://github.com/SinghDigamber/angular-material-login-template -->