.locationList {
    height: 85vh;
    overflow: auto;
    background: white;
}

@media (max-width: 64em) {
    .locationList {
        max-height: 40vh;
        margin-bottom: 20px;
    }
}
.forcast-title {
    margin: 0;
    padding: 15px 0 15px 0;
    text-align: center;
    color: white;
}